@media only screen and (min-width: 601px) {
  .animation-slide-in {
    opacity: 0;
    transform: translateX(150px);
  }
  .animation-slide-in.show {
    opacity: 1;
    transform: translateX(0);
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
  }

  .animation-slide-up {
    opacity: 0;
    transform: translateY(100px);
  }
  .animation-slide-up.show {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.15s;
    transition-timing-function: ease-in;
  }
}
