*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Montserrat", Arial, sans-serif;

  --color-orange: #ff6d6d;
  --color-black: #060606;
  --color-grey: #7d7c7a;
  --color-grey-light: #cbcbc8;
  --color-white: #fffbf8;
  --color-link: #06b6d4;

  --z-index-menu: 2;

  color: var(--color-grey);
}

html,
body {
  height: 100%;
  line-height: 1.5;
  font-size: 13pt;
  background-image: linear-gradient(to right, #efd8be, #e6b1ac);
}

#app {
  height: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

ul.disc {
  text-align: left;
  margin-left: 1em;
}
ul.disc > li {
  list-style-type: disc;
}
ul.sub {
  margin-left: 1em;
}
ul.sub > li {
  list-style-type: circle;
}

a {
  font-style: none;
  text-decoration: none;
  color: var(--color-link);
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5em;
  font-weight: 600;
}

h1 {
  font-size: 2.125rem;
  font-weight: 700;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

strong {
  font-weight: 600;
}
